<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80008011718-r0q5jo9bn0g1u6eeqmpo4hcsilupp2t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80008011718-r0q5jo9bn0g1u6eeqmpo4hcsilupp2t5</string>
	<key>API_KEY</key>
	<string>AIzaSyByLQED1_K5gn8tsZso7GdBPhCpNToK2-4</string>
	<key>GCM_SENDER_ID</key>
	<string>80008011718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernando.YaraCan</string>
	<key>PROJECT_ID</key>
	<string>yaracan-f8ab1</string>
	<key>STORAGE_BUCKET</key>
	<string>yaracan-f8ab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80008011718:ios:ff675aa26151168a</string>
	<key>DATABASE_URL</key>
	<string>https://yaracan-f8ab1.firebaseio.com</string>
</dict>
</plist>